In [2]:
# Import the dependencies.
import pandas as pd
# import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2020-08-17 21:57:50,-42.78,147.06,42.01,91,74,2.44
1,1,Khatanga,RU,2020-08-17 21:54:22,71.97,102.50,58.89,88,100,6.71
2,2,Santander,ES,2020-08-17 21:59:13,43.46,-3.80,69.01,82,100,4.70
3,3,Severo-Kurilsk,RU,2020-08-17 21:59:14,50.68,156.12,52.36,88,89,1.74
4,4,Kapaa,US,2020-08-17 21:59:14,22.08,-159.32,84.20,62,20,14.99

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
#gmaps.configure(api_key=g_key)